.about-container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
}

.about-heading {
  font-size: 36px;
  color: purple;
}

.about-text {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
  font-weight: bolder;
}
